@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "tanmoncheri";
  src: url("../public/assets/fonts/TanMonCheri.woff2");
}

.custom-img {
  background-image: url("../public/assets/imgs/hero-img.jpeg");
}

html {
  scroll-behavior: smooth;
}
